<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
	<span>Teknoloji Portalına Hoşgeldiniz</span>
	<span class="mx-lg-4 mx-md-2  mx-1">
		<a href="/login/index">
			<i class="fas fa-lock"></i> Yazar Girişi
		</a>
	</span>
	<span>
		<a href="/RegisterUser/index">
			<i class="far fa-user"></i> Yeni Yazar İşlemleri
		</a>
	</span>
</div>