@using Blog_MVC.Controllers
@model List<Class1>

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



@using (Html.BeginForm("AddEmployee", "EmployeeTest", FormMethod.Post))
{
    <label>Çalışan Adı Soyadı</label>
    <input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
    <br />
    <button type="submit" class="btn btn-info">Çalışan Ekle</button>
}


